.result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
  height: 150px;
}

.number {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  animation: spin 1s ease-out;
  animation-fill-mode: forwards;
}

@keyframes spin {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(-20px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#spin {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  
}
.button {
    display: flex;
    align-items: center;
}
